body{
    background-color:rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction:column ;

}


/* Comienzo Presentacion */

.flex-presentacion{
    background-image: url('presentacion.png');
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

nav{
    padding-top: 20px;
    height: 1vh;
    display: flex;
    justify-content: space-around;
}

a{
    text-decoration: none;
    color: white;
}

.text-presentacion{
    color: white;
    height: 99vh;
    text-align: center;
    
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

/* Fin Presentacion */

/* Comienzo Sobre Mi */

.flex-sobremi{
    background-color: rgb(255, 255, 255);
    display: flex;
    height: 100vh;  
}

.flex-item-right{
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    justify-content: center;
    align-items: center;
}
.flex-item-right img{
    border-radius: 5%;
}

.flex-item-left{
    margin-right:25px;
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.img-perfil{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;

    height: 550px;
    width: 550px;
    border-radius: 50px;
    background: #E5E7E9;
    box-shadow:  20px 20px 60px #c3c4c6,
             -20px -20px 60px #ffffff;
}

/* Fin Sobre Mi */

/* Comienzo Contacto */

.flex-contacto{
    background-color: #707070;
    height: 100vh;

    display:flex; 
}

.flex-contacto-right{
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    justify-content: center;
    align-items: center;

}

.flex-contacto-right img{
    height: 250px;

    margin-top: 25px;
    border-radius: 50px;
    background: #707070;
    box-shadow:  20px 20px 60px #5f5f5f,
             -20px -20px 60px #818181;
}


.flex-contacto-left{
    margin-right:25px;
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.redes-sociales{
    display:flex;
    justify-content: center;
    align-items: center;
    
}

.redes-sociales img{
    margin-top: 15px;
    margin: 15px;
    padding: 15px;
    height: 120px;
    border-radius: 50px;
    background: #707070;
    box-shadow:  20px 20px 60px #5f5f5f,
             -20px -20px 60px #818181;
  
}

/* Fin Contacto */




h2{
    text-align: center;
    color: rgb(0, 0, 0);
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    background-color: #3e3e3e;
}




